<ion-view title="Login Page" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="loginPage-form6" class="list">
      <div class="spacer" style="height: 50px;"></div>
      <div>
        <img src="img/o0mqtSDvRMSLx5PLsN09_ionicLogoHorizontal.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 50px;"></div>
      <label class="item item-input" id="loginPage-input13">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input" id="loginPage-input14">
        <input type="password" placeholder="Password">
      </label>
      <a ui-sref="welcomePage" id="loginPage-button3" class="button button-positive  button-block">Login</a>
      <a ui-sref="signUpPage">Sign Up</a>
    </form>
    <div class="spacer" style="height: 100px;"></div>
  </ion-content>
</ion-view>