<ion-view title="Welcome Page" hide-nav-bar="true" id="page3" style="background-color:#387EF5;">
  <ion-nav-buttons side="left" scroll="false">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="welcomePage-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="welcomePage-slide24" style="background-color:#387EF5;">
        <div class="spacer" style="height: 100px;"></div>
        <h1 id="welcomePage-heading1" style="color:#FFFFFF;text-align:center;">Welcome Slide 1</h1>
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/gYA5xmnvQOL5Mk7uW6gU_ionicLogoVerticalWhite.png" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 100px;"></div>
      </ion-slide-page>
      <ion-slide-page id="welcomePage-slide29" style="background-color:#387EF5;">
        <div class="spacer" style="height: 100px;"></div>
        <h1 id="welcomePage-heading2" style="color:#FFFFFF;text-align:center;">Welcome Slide 2</h1>
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/gYA5xmnvQOL5Mk7uW6gU_ionicLogoVerticalWhite.png" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 100px;"></div>
      </ion-slide-page>
      <ion-slide-page id="welcomePage-slide210" style="background-color:#387EF5;">
        <div class="spacer" style="height: 100px;"></div>
        <h1 id="welcomePage-heading3" style="color:#FFFFFF;text-align:center;">Welcome Slide 3</h1>
        <div class="spacer" style="height: 100px;"></div>
        <div>
          <img src="img/gYA5xmnvQOL5Mk7uW6gU_ionicLogoVerticalWhite.png" style="display: block; width: 50%; height: 50%; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 100px;"></div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>